table {
    border: 2px solid  rgb(236, 243, 243);
    width: 800px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 15px gary;
    border-radius: 10px;
    padding: 10px;
  }
    
  th {
    padding: 10px;
    text-align: left;
  }

    
  td {
    text-align: left;
    font-weight: 450;
    color:gray;
    padding: 5px;
  }
  .delivered{
    background-color: rgb(206, 206, 248);
    border-radius: 10px;
  }
  .approved{
    background-color: rgb(218, 244, 218);
    border-radius: 10px;
  }

  .pending{
    background-color:rgb(245, 199, 199);
    border-radius: 10px;
  }


  
@media screen and (max-width:1200px){
    .Table{
        width: 170%;
        margin-top: 3rem;
    }
    }
@media screen and (max-width:768px){
    .Table{
       position: relative;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 18rem;
    }
    }