.App {
  background: linear-gradient( 
    106.37deg,
   rgba(242, 242, 193, 0.067) 29.63%,
   #ffcfd1 51.55%,
   #f3c6f1 90.85% );
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  font-family: 'Poppins', sans-serif;
}


.AppGlass{
  width: 97%;
  height: 97%;
  display: grid;
  background-color: rgb(236, 243, 243);
  border-radius: 2rem;
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 10px;
}

@media screen and (max-width:1200px){
    .AppGlass{
     grid-template-columns: 10% 50% auto;
     overflow-y: scroll;
    }
}

@media screen and (max-width:768px){
  .AppGlass{
   grid-template-columns:1fr;
  }
  .AppGlass::-webkit-scrollbar{
    display: none;
  }
}